@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: #ddd;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: #555;
    }  
}